.form {
    margin: 5em;
    input {
        width: 20%;
        margin: 1em;
        border: 2px solid gray;
        outline: none;
        padding: 10px;
    }
    button {
        background-color: $Color-one;
        color: white;
        border: none;
        padding: 1em;
        margin: 1em;
        border-radius: 1 0%;
    }
}