$Color-one: #1565c0;
$Color-tow: rgb(214, 177, 177);
@import './_form_style.scss';
@import './footer_style';
body {
    background-color: aliceblue;
    margin: 0 auto;
    text-align: center;
}

.header {
    width: 100%;
    background-color: $Color-one;
    padding: 1em 0;
    h1 {
        color: $Color-tow;
    }
}